.content {
    display: flex;
}

.title {
    flex: 1 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details {
    /* flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 70%; */
    flex: 1 0 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-left: 3px solid #000;
    margin: 5px;
    padding: 5px;
}

.details :nth-child(n+1) {
    margin: 3px;
    /* flex: 1 0 100%; */
}

.details :nth-child(1) {
    flex: 1 0 90%;
}

.details :nth-child(n+2) {
    flex: 1 0 45%;
}
/* #first-element {
    flex: 1 0 90%;
} */
